<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h3>Blogs</h3>
<%= Blog.all.inspect %>
<br>
<h3>Skills</h3>
<%= Skill.all.inspect %>
<br>
<h3>Portfolios</h3>
<%= Portfolio.all.inspect %>